<!--
    Author: Auro Mota <auro@blueorc.com>
-->
<style>
.cascos_superiores{
    top:-10%;
}    
</style>
<ul class="breadcrumb">
    <li><a ui-sref="home">Home</a></li>
    <li class="active">Identificação</li>
</ul>
<img src="img/cascos_inferiores.png" alt="" class="cascos_inferiores">
<img src="img/cascos_superiores.png" alt="" class="cascos_superiores">
<div class="container container-intro">
    <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 center-component text-center">
        <div>
            <form class="form-horizontal col-lg-6" name="credentialsForm" ng-submit="submit()">
                    <img src="img/logotipo.png" alt="Quiz Unilever" title="Quiz Unilever">
            <br>
            <br>
                <fieldset>
                    <legend class="title1">Identificação</legend>
                    <div class="form-group" ng-class="{'has-error': (credentialsForm.id.$error.required && credentialsForm.id.$dirty)}">
                        <label for="id">Matrícula</label>
                        <br>
                        <input type="text" class="form-control" name="id" ng-model="user.id" required>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (credentialsForm.name.$error.required && credentialsForm.name.$dirty)}">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" name="name" ng-model="user.name" required>
                    </div>
                    <div class="form-group">
                        <button type="reset" class="btn btn-default" ng-click="credentialsForm.setUntouched()">Cancelar</button>
                        <button type="submit" class="btn btn-success">Começar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>