<!--
    Author: Auro Mota <auro@blueorc.com>
-->
<div class="container-fluid container-intro col-lg-12">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-1">
            <ul class="breadcrumb">
                <li class="active">Início</li>
            </ul>   
        </div>
        <div class="col-lg-11" style="position: relative;left: -45px">
            <div class="center-component text-center">
                <div>
                    <form class="form-horizontal col-lg-offset-4 col-lg-4" name="credentialsForm" ng-submit="submit()">
                        <fieldset>
                            <legend class="title1">Identificação</legend>
                            <div class="form-group" ng-class="{'has-error': (credentialsForm.id.$error.required && credentialsForm.id.$dirty)}">
                                <label for="id">Número de RE</label>
                                <br>
                                <input type="text" class="form-control" name="id" ng-model="user.id" required value="123">
                            </div>
                            <div class="form-group" ng-class="{'has-error': (credentialsForm.name.$error.required && credentialsForm.name.$dirty)}">
                                <label for="name">Nome</label>
                                <input type="text" class="form-control" name="name" ng-model="user.name" required value="Wellington Braga">
                            </div>
                            <div class="form-group">
                                <a ui-sref="home" class="btn btn-danger" type="reset" ng-click="credentialsForm.setUntouched()">Cancelar</a>
                                <button type="submit" class="btn btn-success">Começar</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>