<!--
    Author: Auro Mota <auro@blueorc.com>
-->
<ul class="breadcrumb">
    <li><a ui-sref="home">Home</a></li>
    <li class="active">Identificação</li>
</ul>
<div class="container container-intro col-lg-6 col-lg-offset-3">
    <div class="center-component text-center">
        <div>
            <form class="form-horizontal col-lg-offset-2 col-lg-8" name="credentialsForm" ng-submit="submit()">
                <img src="img/logotipo.png" alt="Quiz Unilever" title="Quiz Unilever">
                <br>
                <br>
                <fieldset>
                    <legend class="title1">Identificação</legend>
                    <div class="form-group" ng-class="{'has-error': (credentialsForm.id.$error.required && credentialsForm.id.$dirty)}">
                        <label for="id">Matrícula</label>
                        <br>
                        <input type="text" class="form-control" name="id" ng-model="user.id" required>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (credentialsForm.name.$error.required && credentialsForm.name.$dirty)}">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" name="name" ng-model="user.name" required>
                    </div>
                    <div class="form-group">
                        <button type="reset" class="btn btn-default" ng-click="credentialsForm.setUntouched()">Cancelar</button>
                        <button type="submit" class="btn btn-success">Começar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>