<!--
    Author: Auro Mota <auro@blueorc.com>
-->
<div class="container-fluid container-intro col-lg-12">
    <div class="row container-home">
        <div class="col-lg-1">
            <ul class="breadcrumb">
                <li class="active">Início</li>
            </ul>   
        </div>
        <div class="col-lg-11" style="position: absolute;left:4%">
            <div class="center-component text-center">        
                <h1 class="title1">Bem-vindo!</h1>
                <br>
                <p class="text-bold">
                    O Quiz é uma plataforma em que os colaboradores <br> da Unilever podem testar seus conhecimentos em <br>WCM - Controle de Qualidade e Qualidade e <br>Segurança de Alimentos.
                </p>
                <br>
                <!--<div class="col-lg-2 col-lg-offset-5 col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5" style="border: solid 1px">-->
                    <a class="" ui-sref="credentials">
                        <img src="img/btn-lets-go.png" alt="" class="img-responsive" style="width: 130px;margin: 0px auto;overflow: auto">
                    </a>
                <!--</div>-->
            </div>
        </div>        
    </div>
</div>

<ul class="breadcrumb breadcrumb-bottom">
    <li class="">
        <a ui-sref="logs">Relatórios</a>
    </li>
</ul>
