<!--
    Author: Auro Mota <auro@blueorc.com>
-->
<div class="container-fluid container-intro col-lg-12">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-1">
            <ul class="breadcrumb">
                <li class="active">Início</li>
            </ul>   
        </div>
        <div class="col-lg-11" style="position: relative;left: -45px">
            <div class="center-component text-center">        
                <h1 class="title1">Bem-vindo!</h1>
                <br>
                <p class="text-bold">
                    O Quiz é uma plataforma em que os colaboradores <br> da Unilever podem testar seus conhecimentos em <br>WCM - Controle de Qualidade e Qualidade e <br>Segurança de Alimentos.
                </p>
                <br>
                <div class="col-lg-2 col-lg-offset-5">
                    <a class="" ui-sref="credentials">
                        <img src="img/btn-lets-go.png" alt=""
                            class="img-responsive" style="width: 70%;position: relative;left: 20px">
                    </a>
                </div>
            </div>
        </div>        
    </div>
</div>

<ul class="breadcrumb breadcrumb-bottom">
    <li class="">
        <a ui-sref="logs">Relatórios</a>
    </li>
</ul>
