<!--
    Author: Auro Mota <auro@blueorc.com>
-->
<div class="background-logs container-fluid background-logs">
    <div class="col-lg-12 container-home">
        <div class="row">
            <ul class="breadcrumb">
                <li><a ui-sref="home">Início</a></li>
                <li class="active">Relatórios</li>
            </ul>
        </div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Relatórios</h3>
                </div>
                <div class="panel-body" style="overflow: auto; height: 60vh">
                    <div class="row" ng-show="results">
                        <div class="col-lg-4 result-logs">
                            <div class="row">
                                <h4 class="title-logs">Média de acertos:</h4>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 text-right col-lg-offset-2">
                                    <div class="score">
                                        {{results.average | number: 0}}%
                                    </div>
                                </div>
                                <div class="col-lg-3" style="position:relative;top:0px;left:-18px">
                                    <img src="img/icone_correto.png" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 result-logs">
                            <div class="row">
                                <h4 class="title-logs">Maior pontuação:</h4>
                            </div>
                            <div class="row">
                                <div class="col-lg-5 text-right col-lg-offset-2">
                                    <div class="score">
                                        {{results.maxTest.tests.percentage | number: 0}}%
                                    </div>
                                </div>
                                <div class="col-lg-3" style="position:relative;top:0px;left:-18px">
                                    <img src="img/icone_maior_pontuacao.png" class="img-responsive" alt="">
                                </div>
                            </div>                                
                        </div>
                        <div class="col-lg-4 result-logs">
                            <div class="row">
                                <h4 class="title-logs">Menor pontuação:</h4>
                            </div>
                            <div class="row">
                                <div class="col-lg-5 text-right col-lg-offset-2">
                                    <div class="score">
                                        {{results.minTest.tests.percentage | number: 0}}%
                                    </div>
                                </div>
                                <div class="col-lg-3" style="position:relative;top:0px;left:-18px">
                                    <img src="img/icone_menor_pontuacao.png" class="img-responsive" alt="">
                                </div>
                            </div>                                
                        </div>
                    </div>
                    <div class="row">
                        <br><br>
                        <div class="col-lg-3">
                            Tema:<br>
                            <input type="checkbox" ng-model="filter.wcm">WCM - Controle de Qualidade<br>
                            <input type="checkbox" ng-model="filter.qsa">Qualidade e Segurança de Alimentos
                        </div>
                        <div class="col-lg-3">
                            <div class="row">
                                De&nbsp;&nbsp;: <input type="date" ng-model="filter.dateFrom">
                            </div>
                            <br>
                            <div class="row">
                                Até: <input type="date" ng-model="filter.dateTo">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <br>
                            <h4 class="title-logs" style="font-size: 30px">Testes realizados</h4>
                        </div>
                    </div>
                    <div class="bs-component panel">
                    <hr>
                        <table class="table table-hover table-responsive">
                            <thead>
                                <tr class="active table-text">
                                    <th>Matrícula</th>
                                    <th>Nome</th>
                                    <th>Porcentagem de acerto</th>
                                    <th>Feito em</th>
                                    <th>Tema</th>
                                    <th>Detalhes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="tests.length == 0">
                                    <td colspan="5">Nenhum teste foi realizado.</td>
                                </tr>
                                <tr ng-repeat="test in tests">
                                    <td>{{test.users.id}}</td>
                                    <td>{{test.users.name}}</td>
                                    <td>{{test.tests.percentage | number: 0}}%</td>
                                    <td>{{test.tests.completedOn | date: 'dd/MM/yyyy - HH:mm'}}</td>
                                    <td>{{test.tests.theme == 1 ? 'WCM – Controle de Qualidade' : 'Qualidade e Segurança de Alimentos'}}</td>
                                    <td ng-click="details(test.tests.id)"><span class="glyphicon glyphicon-info-sign mouse-link"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>