<!--
    Author: Auro Mota <auro@blueorc.com>

-->
<ul class="breadcrumb">
    <li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="credentials">Identificação</a></li>
    <li class="active">Perguntas</li>
</ul>

<div class="container">
    <audio src="audio/correct.mp3" id="audio-correct"></audio>
    <audio src="audio/wrong.mp3" id="audio-wrong"></audio>
    <br><br> {{question.text}}
    <br><br>
    <form class="form-horizontal" ng-submit="submit()">
        <fieldset>
            <div class="form-group">
                <div class="col-lg-12">
                    <div class="radio">
                        <label ng-class="{'right-answer': firstAnswerRight}">
                            <input type="radio" ng-model="answer.answer" value="1">{{question.firstAnswer}}
                        </label>
                    </div>
                    <div class="radio">
                        <label ng-class="{'right-answer': secondAnswerRight}">
                            <input type="radio" ng-model="answer.answer" value="2">{{question.secondAnswer}}
                        </label>
                    </div>
                    <div class="radio">
                        <label ng-class="{'right-answer': thirdAnswerRight}">
                            <input type="radio" ng-model="answer.answer" value="3">{{question.thirdAnswer}}
                        </label>
                    </div>
                    <div class="radio">
                        <label ng-class="{'right-answer': fourthAnswerRight}">
                            <input type="radio" ng-model="answer.answer" value="4">{{question.fourthAnswer}}
                        </label>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <div class="">
                            <button type="submit" class="btn btn-success" ng-disabled="enableButton">{{confirmBtn}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <div class="progress">
        <div class="progress-bar progress-bar-info" wq-progress-bar="left"></div>
    </div>
</div>