<!--
    Author: Auro Mota <auro@blueorc.com>
-->
<style>
    .cascos_superiores {
        top: -10%;
    }
</style>
<div class="container-fluid result text-center container-intro">
    <div class="container-home">
        <div class="row">
            <div class="col-lg-3">
                <ul class="breadcrumb">
                    <li><a ui-sref="home">Início</a></li>
                    <li><a ui-sref="credentials">Identificação</a></li>
                    <li class="active">Resultado</li>
                </ul>   
            </div>
            <div class="col-lg-9" style="position:absolute; left: 13vw">
                <h3 class="title1">Teste completo!</h3>
                <p>Você acertou <strong>{{rightCount}}</strong> de <strong>{{total}}</strong> perguntas.</p>
                <div class="progress col-lg-6 col-lg-offset-3">
                    <div class="progress-bar progress-bar-success" wq-progress-bar="left"></div>
                    <div class="progress-bar progress-bar-danger" wq-progress-bar="right"></div>
                </div>
                <br><br><br><br>
                <div class="col-lg-6 col-lg-offset-3">
                    <a ui-sref="home">
                        <img src="img/btn-back.png" class="img-responsive center-component" alt="" style="width: 130px">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>