/*
    Author: Fabiano Lomonaco <fabiano.lomonaco.junior@gmail.com>
            Auro Mota <auro@blueorc.com>
*/

.jumbotron-btns a:nth-child(2) {
    margin-left: 10px;
}

.btn-test {
    margin-top: 20px;
    margin-bottom: -20px !important;
}

.result {
    width: 40% !important;
}

.left-panel {
    width: 30% !important;
}

.green-answer {
    color: green;
}

.red-answer {
    color: red;
}

.mouse-link {
    cursor: pointer;
}

.result-logs {
    text-align: center;
}

.score {
    font-size: 75px;
}

.expand {
    float: right;
    cursor: pointer;
    position: absolute !important;
    top: initial !important;
    bottom: 0px;
    right: 0px;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.result-box {
    position: relative;
}