@font-face {
font-family: 'Intro';
font-style: normal;
font-weight: normal;
src: url('fonts/Intro/Intro-Bold-Italic.otf');
}
@font-face {
font-family: 'Intro Bold';
font-style: normal;
font-weight: normal;
src: url('fonts/Intro/Intro-Bold-Alt.otf');
}
@font-face {
font-family: 'Intro Light';
font-style: normal;
font-weight: normal;
src: url('fonts/Intro/Intro-Light.otf');
}
/*
    Author: Auro Mota <auro@blueorc.com>
*/
.text-bold{
    font-family: 'Intro Light';
}
.background {
    background-image: url('../img/topo.png'), url('../img/man_quiz.png');
    background-size: 100%, 30%;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: top, left bottom;
}

.background-logs {
    background-image: url('../img/topo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

.background-question {
    background-image: url('../img/topo.png'), url('../img/man.png');
    background-size: 100%, 30%;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: top, right bottom;
    height: 100vh;
}

/*.background2 {
    background-image: url('../img/bottom-right.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
}*/

.jumbotron-btns a:not(:first-child) {
    margin-left: 10px;
}

.btn-test {
    margin-top: 20px;
    margin-bottom: -20px !important;
}

.btn-success{
    font-family:'Intro';
    background: #5C89C1 !important;
    border: solid 1px #2C64A2 !important;
}

.btn-success:hover{
    background:  #2C64A2 !important;
    border: solid 1px #5C89C1 !important;
}

.btn{
    font-family:'Intro';
}

.title1{
    font-family: 'Intro Bold';
    font-weight: 900;
    color: #2C64A2;
    font-size: 38px;
}
.question-number{
    font-family: 'Intro Bold';
    font-weight: 900;
    color: #2C64A2;
    font-size: 16px;
}

p{
    font-family: Arial;
}

.result {
    
}

.left-panel {
    width: 30% !important;
}

.green-answer {
    color: green;
}

.right-answer {
    border-radius: 3px 3px;
    background-color: snow;
    border: 3px solid green;
}

.red-answer {
    color: red;
}

.mouse-link {
    cursor: pointer;
}

.result-logs {
    text-align: center;
}

.score {
    font-family: 'Intro Bold';
    font-size: 55px;
    color: #2C649F;
}

.expand {
    float: right;
    cursor: pointer;
    position: absolute !important;
    top: initial !important;
    bottom: 0px;
    right: 0px;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.result-box {
    position: relative;
}
.center-component{
    float:none;
    margin: 0 auto;
}
.container-intro{
    position: relative;
    top: 0px;
}
.breadcrumb{
    background: none !important;    
}

.breadcrumb-bottom{
    position:fixed;
    bottom: 30px;
    right: 70px;  
}
.breadcrumb > li {
    padding: 0px 0px !important;
    margin: 0px !important;
    font-weight: 100;
    font-family:'Intro Light';
}
.breadcrumb > li > a{
    color: #999 !important;
}
.breadcrumb > li.active{
    color: #2C649F;
}
.breadcrumb > li + li:before {
    content: "|" !important;
}
.form-control{
    border: solid 2px #2C649F !important;
    border-radius: 40px !important;
}
.progress{
    background: none !important;
    border: solid 2px #2C649F !important;
}
.btn-submit{
    background: none !important;
    border: none !important;
}
label.alert-success{
    background: #289443;
    border-radius: 40px;
    position: relative;
    left: -10px;
    padding: 5px;
}
.panel{
    border: none !important;
}
.panel-primary>.panel-heading {
    background: #2C649F !important;
    border: none; 
    border-radius: 50px;
}
.panel-title {
    font-family: 'Intro Bold';
    font-weight: 900;
    font-size: 25px !important;
}

h4.title-logs{
    font-family: 'Intro Bold';
    font-weight: 900;
    color: #00A3D9;
}
.breadcrumb > li > a{
    cursor: pointer;
}
.container-home{
    position: relative;
    top: 13vw;
}

.btn-quiz-1{
    background: #B9B9B9;
}

.btn-quiz-2{
    background: #2C3E50;
}

.btn-quiz-1:hover, .btn-quiz-2:hover{
    background: #2C649F !important;
    border: solid 2px #0A428D !important;
}