@font-face {
font-family: 'Intro';
font-style: normal;
font-weight: normal;
src: url('fonts/Intro/Intro-Bold-Italic.otf');
}
@font-face {
font-family: 'Intro Light';
font-style: normal;
font-weight: normal;
src: url('fonts/Intro/Intro-Light.otf');
}
/*
    Author: Auro Mota <auro@blueorc.com>
*/

.background {
    background-image: url('../img/bottom-left.png'), url('../img/top-right.png');
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: left bottom, right top;
}

.background2 {
    background-image: url('../img/bottom-right.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
}

.jumbotron-btns a:not(:first-child) {
    margin-left: 10px;
}

.btn-test {
    margin-top: 20px;
    margin-bottom: -20px !important;
}

.btn-success{
    font-family:'Intro';
    background: #5C89C1 !important;
    border: solid 1px #2C64A2 !important;
}

.btn-success:hover{
    background:  #2C64A2 !important;
    border: solid 1px #5C89C1 !important;
}

.btn{
    font-family:'Intro';
}

.title1{
    font-family: 'Intro';
    font-weight: 900;
    color: #2C64A2;
    font-size: 38px;
}

p{
    font-family: Arial;
}

.result {
    width: 40% !important;
}

.left-panel {
    width: 30% !important;
}

.green-answer {
    color: green;
}

.right-answer {
    border-radius: 3px 3px;
    background-color: snow;
    border: 3px solid green;
}

.red-answer {
    color: red;
}

.mouse-link {
    cursor: pointer;
}

.result-logs {
    text-align: center;
}

.score {
    font-size: 75px;
}

.expand {
    float: right;
    cursor: pointer;
    position: absolute !important;
    top: initial !important;
    bottom: 0px;
    right: 0px;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.result-box {
    position: relative;
}
.center-component{
    float:none;
    margin: 0 auto;
}

.container-intro{
    position: relative;
    top: 0px;
}
.cascos_inferiores{
    width: 40%;
    position:absolute;
    top:30%;
    left:-5%;
}
.cascos_inferiores_2{
    width: 40%;
    position:absolute;
    top:30%;
    left:60%;
}
.cascos_superiores{
    width: 40%;
    position:absolute;
    left:70%;
}
.breadcrumb{
    background: none !important;    
}
.breadcrumb > li {
    padding: 0px 0px !important;
    margin: 0px !important;
    font-weight: 100;
    font-family:'Intro Light';
}
.breadcrumb > li + li:before {
    content: "|" !important;
}
#btn-logs{
    position:absolute;
    top:80%;
    left:80%;
}